@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

._icon-Group-2:before {
	content: "\e900";
}

._icon-Group-1-2:before {
	content: "\e901";
}

._icon-Group-1-1:before {
	content: "\e902";
}

._icon-Group-1:before {
	content: "\e903";
}

._icon-logo-1:before {
	content: "\e904";
}

._icon-Vector-1:before {
	content: "\e91b";
}

._icon-instagram:before {
	content: "\e91c";
}

._icon-Arrow-2:before {
	content: "\e927";
}

._icon-Group-11:before {
	content: "\e928";
}

._icon-Vector:before {
	content: "\e929";
}

._icon-noun_Audio-Book:before {
	content: "\e92a";
}

._icon-Group:before {
	content: "\e92b";
}

._icon-noun_open-book:before {
	content: "\e92c";
}

._icon-noun_study:before {
	content: "\e92d";
}

._icon-noun_insurance:before {
	content: "\e92e";
}

._icon-noun_Mobile-Learning:before {
	content: "\e92f";
}

._icon-noun_Female-Student:before {
	content: "\e930";
}

._icon-logo:before {
	content: "\e931";
}